/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* General Styles */
:root {
   --bright-orange: hsl(31, 77%, 52%);
   --dark-cyan: hsl(184, 100%, 22%);
   --very-dark-cyan: hsl(179, 100%, 13%);
   --transparent-white: hsla(0, 0%, 100%, 0.75);
   --light-gray: hsl(0, 0%, 95%);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-size: 15px;
}

.container {
   display: flex;
   flex-direction: column;
   height: 100vh;
   margin: 0 auto;
   max-width: 900px;
   width: 90%;
}

/* Typography */

h1 {
   color: var(--light-gray);
   font-family: 'Big Shoulders Display', sans-serif;
   font-size: 2rem;
   margin: 1em 0;
   text-transform: uppercase;
}

p {
   color: var(--transparent-white);
   font-family: 'Lexend Deca', sans-serif;
   font-size: 1rem;
   letter-spacing: 1px;
   line-height: 1.5;
   margin-bottom: 3em;
}

@media screen and (min-width: 980px) {
   .container {
      justify-content: center;
      align-items: center;
   }
}
